/* Shared Style */

:root{
    --header-color:#3A3A3A;
    --collection-color:#18191F;
    --collection-description-color:#787885;
}

header,
footer,
.collection-title
{
    font-family: "Poppins", sans-serif;
}

/* Header Style */

header{
    max-width: 1200px;
    margin: 0 auto;
}

/* Nav Style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.nav-title{
    font-size: 1.5rem;
    color: var(--header-color);
    font-weight: 700;
}

nav ul{
    display: flex;
    gap: 34px;
    align-items: center;
}

nav li {
    list-style: none;
}

nav a{
    text-decoration: none;
    color: var(--header-color);
    font-weight: 600;
}   

/* Banner Styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.banner-content{
    max-width: 582px;
}

.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--header-color);
}

.banner-description{
    margin-top: 0px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--header-color);
}

.banner-content button{
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #E02C6D;
    border: 0;
    border-radius: 41px;
    padding: 10px 24px;
    cursor: pointer;
    margin-top: 0;
}

.banner-img{
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-img img{
    width: 100%;
}

/* Sponsor Style */

.sponsor{
    display: flex;
    max-width: 1110px;
    margin: 70px auto 100px auto;
    justify-content: space-around;
    border-top: 1px solid var(--header-color) ;
    border-bottom: 1px solid var(--header-color);
    padding-top: 36px;
    padding-bottom: 36px;
}

/* Collection Style */

.collection{
    max-width: 1047px;
    margin: 0 auto;
}

.collection-title{
    text-align: center;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}





































/* Responsive Styles */

/* Mobile Device */

@media screen and (max-width: 576px) {
    nav
    {
        flex-direction: column;
        margin-bottom: 0px;
    }
    nav ul{
        flex-wrap: wrap;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: center;
        margin-top: 0 ;
    }
    .banner-img{
        margin: 14px 21px 22px 21px;
    }

    .sponsor{
        flex-wrap: wrap;
        gap: 31px;
        align-items: center;
    }
}


/* Tab/Medium Device */

@media screen and (min-width: 576px) and (max-width : 992px) {
    nav{
        flex-direction: column;
    }
    .sponsor{
        flex-wrap: wrap;
        gap: 20px;
    }
}